nav {
  background-color: #2E2E2E;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: xx-large;
}

.active {
  background-color: red;
}