doctype html
html
  head
    // Your head content goes here
    link(rel='stylesheet', href='/css/default.css')
    link(rel='stylesheet', href='/css/navigation.css')
    link(rel='stylesheet', href='/css/footer.css')
    block styles
  body
    include includes/navigation

    div.container
      block content
        // Your page content goes here

    include includes/footer