extends ../layout

block content
  h1 Administration Products
  
  if products.length == 0
    p.no-products No products to display.
  else
    div.products__container
      each product in products
        include ../product-details      
            block extraButtons 
                a.edit-button(href='/products/edit/' + product.id + '?edit=true') Edit
                form(action='/admin/product/delete' method='POST')
                  input#productId.registration__item(
                    type='hidden',
                    name='productId',
                    value=product ? product.id : '',
                    required
                  )
                  button.delete-button(type='submit') Delete
block styles
  link(rel='stylesheet', href='/css/products.css')
